<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
        
        <a class="navbar-brand " routerLink="usefulLinks"> <span><mat-icon class="align-middle icon me-3 p-0">home</mat-icon>People Occupations</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item ">
                    <a class ="nav-link" routerLink="peopleList" routerLinkActive="active">People List</a>
                </li>
                
                <li class="nav-item ">
                    <a class ="nav-link" routerLink="occupationList" routerLinkActive="active">Occupations</a>
                </li>
                
                <li class="nav-item ">
                    <a class ="nav-link" routerLink="hobbiesList" routerLinkActive="active">Hobbies</a>
                </li>
                <li class="nav-item ">
                    <a class ="nav-link" routerLink="peopleOccupationList" routerLinkActive="active">People Occupations</a>
                </li>
                

            </ul>
            <div class="d-flex">
                
                <button class="btn btn-primary me-3" >Login</button>
                <button class="btn btn-primary" >Sign Up</button>
            </div>
        </div>
    </div>
</nav>