.container{
  padding-bottom: 60px;
}
.people-table {
    min-height: 360px;
    margin-top: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    tr:hover {
      background: whitesmoke;
      cursor: pointer;
    }
  }
  
  .paginator{
    width: 600px;
    margin:auto;
    
    /* text-align: center; */
    /* justify-content: center; */
  }
  
  .mat-column-name {
    /* width: 90px; */
    /* border-right: 1px solid black; */
    padding-right: 24px;
    text-align: center;
  }
  

  .mat-column-age {
    font-style: italic;
    text-align: center;
  }

  .mat-column-hobbyDescription {
    padding-left:60px;
    text-align: left;
  }  


  /* .hobbyDescription-cell {
    text-align: center;
    margin: 10px auto;
  }


  .age-cell {
    text-align: center;
  }

  
.name-cell mat-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
  }
   */
  