.container {
  padding-bottom: 60px;
}

.people-table {
  min-height: 360px;
  margin-top: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;

}

tr:hover {
  background: whitesmoke;
  cursor: pointer;
}

.filter-width{
  width: 157px;
}

.filter-date-width{
  width: 150px;
}

.paginator {
  /* width: 600px;
    height: 75px; */
  margin: auto;

  /* text-align: center; */
  /* justify-content: center; */
}

.mat-column-name {
  /* width: 90px; */
  /* border-right: 1px solid black; */
  padding-right: 24px;
  text-align: center;
}


.mat-column-age {
  font-style: italic;
  text-align: center;
}

.mat-column-hobbyDescription {
  padding-left: 60px;
  text-align: left;
}


.buttonColumn{
  width: 110px;

}
section {
  display: table;
}

.button-row{
  width: 800px;
  margin-top:30px;
  margin-bottom:30px;
  margin-right: 10px;
  margin-left: 10px;
}

.filter-button{
  width: 140px;
}

.hide-filters-row{
  display: none;
}

/* .hobbyDescription-cell {
    text-align: center;
    margin: 10px auto;
  }


  .age-cell {
    text-align: center;
  }

  
.name-cell mat-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
  }
   */